Options +FollowSymLinks
RewriteEngine on

# Redirect to HTTPS for all requests
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]

# Rewrite to 'public' directory, but don't redirect
RewriteCond %{REQUEST_URI} !^/public
RewriteRule ^(.*)$ /public/$1 [L]
